* {
    padding: 0 0;
    margin: 0 0;
    font-family: Poppins, sans-serif;
    box-sizing: border-box;
    font-size: 16px;
    color: rgb(63, 63, 63);
}

body {
    
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  font-weight: 500;
}

a {
  color: rgb(84, 173, 229);
  text-decoration: none;
  
}

/* Header */

header {
    position: fixed;
    display: flex;
    align-items: center;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 64px;
    background-color: white;
  }
  
  header .desktop-logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #4a4a4a;
    font-size: 20px;
  }

  header .academy {
    color: grey;
  }

  header .navigation {
    display: flex;
    width: 100%;
    align-items: center;
    margin: 0 24px;
  }

  header .desktop {
    display: flex;
    align-items: center;
    width: 100%;
  }

  header .mobile {
    display: none;
  }

  header nav ul {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    list-style-type: none;

  }

  nav li {
    display: flex;
    padding-left: 1rem;
  }

  nav a {
    line-height: 1.6;
    font-size: 1rem;
    color: #4a4a4a;
    text-decoration: none;
  }

  @media only screen and (max-width: 600px) {
    
    header .desktop, header .desktop-logo {
        display: none;
    }

    header .mobile {
        display: block;
        width: 100%;
    }

    header .mobile ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

  }

  /* Hero */

  .banner {
    background-color: rgb(227, 227, 227);
    height: 800px;
    width: 100%;
    display: flex;
  }

  .banner-content {
    height: 100%;
    width: 60%;
    padding: 96px 24px 32px 24px;
  }

  .banner-image {
    height: 100%;
    width: 100%;
  }

  .banner-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner-text {
    margin: auto 0;
    padding-top: 96px;
    padding-left: 24px;
    padding-right: 100px;
    padding-bottom: 32px;
    width: 40%;
  }

  .banner-button {
    background-color: #4a4a4a;
    color: white;
    margin-top: 30px;
    padding: 8px 0;
    text-align: center;
    width: 100%;
    font-size: 20px;
  }

  .learn {
    line-height: 1em;
    padding-bottom: 20px;
  }

  .learn2 {
    font-size: 1.25em;
  }

  @media only screen and (max-width: 600px) {

    .banner-content {
        display: flex;
        flex-direction: column;
        margin-top: 64px;
    }

    .banner-image {
        width: 100%;
        height: 50%;
        padding: 0;
    }

    .banner-image img {
        width: 100%;
    }

    .banner-text {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 50%;
        margin: 0;
        padding: 0;
    }
    
  }

/* News */

.news {
  background-color: white;
  width: 100%;
  height: 800px;
  display: flex;
}

.quote {
  width: 60%;
  height: 90%;
  background-color: white;
  padding: 32px 24px;
}

.quote-image img{
  width: 100%;
  object-fit: contain;
}

.quote-title {
  margin-top: 32px;
  margin-bottom: 24px;
}

.quote-text {
  margin-bottom: 24px;
}

.quote-source {
  margin-bottom: 0;
  text-align: bottom;
  font-size: 12px;
}

.blogpost {
  width: 40%;
  height: 100%;
  background-color: white;
  border-left: 1px solid lightgrey;
  margin: auto 0;
  padding: 32px auto;
  display: flex;
  flex-direction: column;
}

.blogpost-white {
  width: 100%;
  height: 33%;
  background-color: white;
  display: flex;
  padding: 16px 16px;
  border-bottom: 1px solid lightgrey;
}

.blogpost-image {
  width: 35%;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}

.blogpost-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.blogpost-content {
  width: 65%;
  margin: auto 20px;
}

.blogpost-content h3 {
  margin: 8px auto;
}

.blogpost-content p {
  margin: 8px auto;
}

.blogpost-grey {
  width: 100%;
  height: 33%;
  background-color: rgb(227, 227, 227);
  display: flex;
  padding: 16px 16px;
}

/* Courses */

.courses {
  background-color: rgb(238, 238, 238);
  width: 100%;
  height: 100%;
  padding: 32px 72px;
}

.courses-content {
  width: 100%;
  height: 100%;
  margin-top: 32px;
}

.courses-content h1 {
  text-align: center;
}

.courses-boxes {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  margin-top: 32px;
  margin-bottom: 32px;
}

.courses-boxes-content {
  background-color: white;
  width: 30%;
  height: 30%;
  margin: 16px;
  box-shadow: -2px 6px 12px -3px rgba(0,0,0,0.61);
}

.courses-image img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.courses-text {
  padding: 16px 16px 24px 16px;
  height: 150px;
}

.courses-text h3 {
  font-size: 20px;
}

.courses-text p {
  font-size: 14px;
  line-height: 1.2;
  margin-top: 8px;
}

/* Thesis */